.env
health_system.db
__pycache__/
*.pyc
migrations/
.pytest_cache/

Health-inforamtion-System-Backend) beth-waceke-kimani@beth-waceke-kimani-Latitude-7400:~/health-info-system/Health-inforamtion-System-Backend$ rm -rf migrations/
(Health-inforamtion-System-Backend) beth-waceke-kimani@beth-waceke-kimani-Latitude-7400:~/health-info-system/Health-inforamtion-System-Backend$ rm health_system.db
rm: cannot remove 'health_system.db': No such file or directory
(Health-inforamtion-System-Backend) beth-waceke-kimani@beth-waceke-kimani-Latitude-7400:~/health-info-system/Health-inforamtion-System-Backend$ my db is in  the instance folder that is where i have the database;;ealth_system.d